In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import pandas as pd

df = pd.read_excel('Telco_customer_churn.xlsx')
df.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [9]:
df.shape

(7043, 33)

In [10]:
df.columns

Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value',
       'Churn Score', 'CLTV', 'Churn Reason'],
      dtype='object')

In [11]:
df.dtypes

CustomerID            object
Count                  int64
Country               object
State                 object
City                  object
Zip Code               int64
Lat Long              object
Latitude             float64
Longitude            float64
Gender                object
Senior Citizen        object
Partner               object
Dependents            object
Tenure Months          int64
Phone Service         object
Multiple Lines        object
Internet Service      object
Online Security       object
Online Backup         object
Device Protection     object
Tech Support          object
Streaming TV          object
Streaming Movies      object
Contract              object
Paperless Billing     object
Payment Method        object
Monthly Charges      float64
Total Charges         object
Churn Label           object
Churn Value            int64
Churn Score            int64
CLTV                   int64
Churn Reason          object
dtype: object

In [12]:
df.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [4]:
df.isnull().sum()

CustomerID              0
Count                   0
Country                 0
State                   0
City                    0
Zip Code                0
Lat Long                0
Latitude                0
Longitude               0
Gender                  0
Senior Citizen          0
Partner                 0
Dependents              0
Tenure Months           0
Phone Service           0
Multiple Lines          0
Internet Service        0
Online Security         0
Online Backup           0
Device Protection       0
Tech Support            0
Streaming TV            0
Streaming Movies        0
Contract                0
Paperless Billing       0
Payment Method          0
Monthly Charges         0
Total Charges           0
Churn Label             0
Churn Value             0
Churn Score             0
CLTV                    0
Churn Reason         5174
dtype: int64

In [5]:
# Fill missing values in 'Churn Reason' column with the mode (most frequent value)
df['Churn Reason'] = df['Churn Reason'].fillna(df['Churn Reason'].mode()[0])

# Check if there are any missing values left
print(df.isnull().sum())

CustomerID           0
Count                0
Country              0
State                0
City                 0
Zip Code             0
Lat Long             0
Latitude             0
Longitude            0
Gender               0
Senior Citizen       0
Partner              0
Dependents           0
Tenure Months        0
Phone Service        0
Multiple Lines       0
Internet Service     0
Online Security      0
Online Backup        0
Device Protection    0
Tech Support         0
Streaming TV         0
Streaming Movies     0
Contract             0
Paperless Billing    0
Payment Method       0
Monthly Charges      0
Total Charges        0
Churn Label          0
Churn Value          0
Churn Score          0
CLTV                 0
Churn Reason         0
dtype: int64

In [6]:
# Step 1: Unnecessary columns ko remove karna

df.drop(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code', 
         'Lat Long', 'Latitude', 'Longitude'], axis=1, inplace=True)

# Verify by checking columns again
df.columns

Index(['Gender', 'Senior Citizen', 'Partner', 'Dependents', 'Tenure Months',
       'Phone Service', 'Multiple Lines', 'Internet Service',
       'Online Security', 'Online Backup', 'Device Protection', 'Tech Support',
       'Streaming TV', 'Streaming Movies', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charges', 'Total Charges', 'Churn Label',
       'Churn Value', 'Churn Score', 'CLTV', 'Churn Reason'],
      dtype='object')

In [8]:
df.columns

Index(['Gender', 'Senior Citizen', 'Partner', 'Dependents', 'Tenure Months',
       'Phone Service', 'Multiple Lines', 'Internet Service',
       'Online Security', 'Online Backup', 'Device Protection', 'Tech Support',
       'Streaming TV', 'Streaming Movies', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charges', 'Total Charges', 'Churn Label',
       'Churn Value', 'Churn Score', 'CLTV', 'Churn Reason'],
      dtype='object')

In [9]:
df.select_dtypes(include=['object']).columns

Index(['Gender', 'Senior Citizen', 'Partner', 'Dependents', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Total Charges', 'Churn Label', 'Churn Reason'],
      dtype='object')

In [10]:
# List of columns with Yes/No values
yes_no_cols = ['Phone Service', 'Paperless Billing', 'Partner', 'Dependents']

# Map Yes to 1 and No to 0
for col in yes_no_cols:
    df[col] = df[col].map({'Yes': 1, 'No': 0})

In [11]:
# List of remaining categorical columns (excluding 'CustomerID' and other unnecessary ones)
remaining_cat_cols = ['Gender', 'Internet Service', 'Online Security', 'Online Backup',
                      'Device Protection', 'Tech Support', 'Streaming TV', 'Streaming Movies',
                      'Contract', 'Payment Method']

# Apply One-Hot Encoding
df = pd.get_dummies(df, columns=remaining_cat_cols, drop_first=True)

In [13]:
from sklearn.preprocessing import LabelEncoder

# Initialize the label encoder
le = LabelEncoder()

# Convert 'Churn Label' column to numeric
df['Churn Label'] = le.fit_transform(df['Churn Label'])

# Now, 'Churn Label' will have values 0 and 1 instead of 'No' and 'Yes'

In [16]:
df.dtypes

Senior Citizen                             object
Partner                                     int64
Dependents                                  int64
Tenure Months                               int64
Phone Service                               int64
Multiple Lines                             object
Paperless Billing                           int64
Monthly Charges                           float64
Total Charges                              object
Churn Label                                 int64
Churn Value                                 int64
Churn Score                                 int64
CLTV                                        int64
Churn Reason                               object
Gender_Male                                  bool
Internet Service_Fiber optic                 bool
Internet Service_No                          bool
Online Security_No internet service          bool
Online Security_Yes                          bool
Online Backup_No internet service            bool
Online Backup_Yes                            bool
Device Protection_No internet service        bool
Device Protection_Yes                        bool
Tech Support_No internet service             bool
Tech Support_Yes                             bool
Streaming TV_No internet service             bool
Streaming TV_Yes                             bool
Streaming Movies_No internet service         bool
Streaming Movies_Yes                         bool
Contract_One year                            bool
Contract_Two year                            bool
Payment Method_Credit card (automatic)       bool
Payment Method_Electronic check              bool
Payment Method_Mailed check                  bool
dtype: object

In [17]:
# If 'Senior Citizen' has 'Yes'/'No' values, convert them to 1/0 using Label Encoding
df['Senior Citizen'] = le.fit_transform(df['Senior Citizen'])

In [18]:
df = pd.get_dummies(df, columns=['Churn Reason'], drop_first=True)

In [19]:
# Remove any unwanted spaces or non-numeric characters and convert it to numeric
df['Total Charges'] = pd.to_numeric(df['Total Charges'], errors='coerce')

In [23]:
# Renaming the column if there is a space or different characters
df.rename(columns={"Churn Reason ": "Churn Reason"}, inplace=True)

In [26]:
# Clean the column names by stripping any extra spaces
df.columns = df.columns.str.strip()

In [39]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

# Initialize LabelEncoder
le = LabelEncoder()

# Apply Label Encoding to all categorical columns
df['Senior Citizen'] = le.fit_transform(df['Senior Citizen'])  # If 'Yes'/'No' values
df['Multiple Lines'] = le.fit_transform(df['Multiple Lines'])  # If 'Yes'/'No' values

df['Gender_Male'] = le.fit_transform(df['Gender_Male'])  # If 'True'/'False' values
df['Internet Service_Fiber optic'] = le.fit_transform(df['Internet Service_Fiber optic'])  # If categorical values
df['Internet Service_No'] = le.fit_transform(df['Internet Service_No'])  # If categorical values
df['Online Security_No internet service'] = le.fit_transform(df['Online Security_No internet service'])  # If categorical values
df['Online Security_Yes'] = le.fit_transform(df['Online Security_Yes'])  # If categorical values
df['Online Backup_No internet service'] = le.fit_transform(df['Online Backup_No internet service'])  # If categorical values
df['Online Backup_Yes'] = le.fit_transform(df['Online Backup_Yes'])  # If categorical values
df['Device Protection_No internet service'] = le.fit_transform(df['Device Protection_No internet service'])  # If categorical values
df['Device Protection_Yes'] = le.fit_transform(df['Device Protection_Yes'])  # If categorical values
df['Tech Support_No internet service'] = le.fit_transform(df['Tech Support_No internet service'])  # If categorical values
df['Tech Support_Yes'] = le.fit_transform(df['Tech Support_Yes'])  # If categorical values
df['Contract_Two year'] = le.fit_transform(df['Contract_Two year'])  # If categorical values
df['Payment Method_Credit card (automatic)'] = le.fit_transform(df['Payment Method_Credit card (automatic)'])  # If categorical values
df['Payment Method_Electronic check'] = le.fit_transform(df['Payment Method_Electronic check'])  # If categorical values
df['Payment Method_Mailed check'] = le.fit_transform(df['Payment Method_Mailed check'])  # If categorical values

# Now, let's handle the Total Charges column, which is of type 'object'
# We need to convert it into a numeric column.
df['Total Charges'] = pd.to_numeric(df['Total Charges'], errors='coerce')  # Handle non-numeric values as NaN

# Apply scaling to the numeric columns
scaler = StandardScaler()

# Select only the columns that are numeric for scaling
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns

# Scale the numeric columns
scaled_features = scaler.fit_transform(df[numeric_cols])

# Create a new DataFrame with the scaled features
scaled_df = pd.DataFrame(scaled_features, columns=numeric_cols)

# Merge the scaled features back with the original dataframe
df_scaled = pd.concat([df.drop(columns=numeric_cols), scaled_df], axis=1)

# Check the updated dataframe
print(df_scaled.head())

   Streaming TV_No internet service  Streaming TV_Yes  \
0                             False             False
1                             False             False
2                             False              True
3                             False              True
4                             False              True

   Streaming Movies_No internet service  Streaming Movies_Yes  \
0                                 False                 False
1                                 False                 False
2                                 False                  True
3                                 False                  True
4                                 False                  True

   Contract_One year  Churn Reason_Attitude of support person  \
0              False                                    False
1              False                                    False
2              False                                    False
3              False                                    False
4              False                                    False

   Churn Reason_Competitor had better devices  \
0                                       False
1                                       False
2                                       False
3                                       False
4                                        True

   Churn Reason_Competitor made better offer  \
0                                       True
1                                      False
2                                      False
3                                      False
4                                      False

   Churn Reason_Competitor offered higher download speeds  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   Churn Reason_Competitor offered more data  ...  \
0                                      False  ...
1                                      False  ...
2                                      False  ...
3                                      False  ...
4                                      False  ...

   Online Backup_No internet service  Online Backup_Yes  \
0                          -0.525927           1.378241
1                          -0.525927          -0.725563
2                          -0.525927          -0.725563
3                          -0.525927          -0.725563
4                          -0.525927           1.378241

   Device Protection_No internet service  Device Protection_Yes  \
0                              -0.525927              -0.723968
1                              -0.525927              -0.723968
2                              -0.525927               1.381277
3                              -0.525927               1.381277
4                              -0.525927               1.381277

   Tech Support_No internet service  Tech Support_Yes  Contract_Two year  \
0                         -0.525927         -0.639439          -0.562975
1                         -0.525927         -0.639439          -0.562975
2                         -0.525927         -0.639439          -0.562975
3                         -0.525927          1.563872          -0.562975
4                         -0.525927         -0.639439          -0.562975

   Payment Method_Credit card (automatic)  Payment Method_Electronic check  \
0                               -0.525047                        -0.711026
1                               -0.525047                         1.406418
2                               -0.525047                         1.406418
3                               -0.525047                         1.406418
4                               -0.525047                        -0.711026

   Payment Method_Mailed check
0                     1.835513
1                    -0.544807
2                    -0.544807
3                    -0.544807
4                    -0.544807

[5 rows x 52 columns]